<!DOCTYPE html>
<html>
<head>
	<title>Chat demo app</title>
	<script src="bower/socket-io-client/socket.io.js"></script>
	<style>
		body {
			margin: 0;
			padding: 0;
		}
		.layout{

		}
		.layout td, .messages-tbl td{
			vertical-align: top;
		}
		.contacts{

		}
		.contact-list {
			list-style-type: none;
			width: 100%;
			padding: 10px;
		}
		.contact{
			width: 100%;
			padding: 15px 0;
			border-bottom: 1px solid #bbb;
		}
		.messages{
			height: 450px;
			overflow-y: auto;
		}
		.messages-wrap{
			padding: 0 20px;
		}
		.messages-footer{
			padding: 20px 0;
		}
		.msg {
			width: 100%;
			padding: 15px 0;
			border-bottom: 1px solid #eee;
		}
		.text{
			padding: 10px;
		}
		.text-send{
			float: left;
		}
	</style>
</head>
<body>
	<div id="app" data-guid="<%= guid %>" data-username="<%= username %>"></div>
	<script src="bundle.js"></script>
</body>
</html>